@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);


.reply {
    margin-top: 100px;
    width: 100%;
}

.replyMsg {
    margin: 0 auto;
    max-width: 990px;
    display: flex;
}

.reply h3 {
    font-weight: 700;
    font-size: 19px;
    color: #666666;
}

.content {
    margin-top: 35px;
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 990px;
    display: grid;
    grid-template-columns: 266px auto;
    grid-template-rows: 200px;
    gap: 30px;
    position: relative;
    margin-bottom: 40px;
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.deleteBox {
    position: absolute;
    right: 50px;
    cursor: pointer;
}

.info,
.date,
.time,
.money,
.place {
    display: flex;
}

.date,
.time,
.money,
.place {
    margin-bottom: 13px;
}


.info h2 {
    font-weight: 700;
    color: #448899;
    margin-top: 3px;
    margin-bottom: 20px;
}

.date span,
.time span,
.money span,
.place span {
    font-weight: 700;
}

hr {
    border: solid 0.5px #E8E8E8;
    max-width: 1200px;
    margin: 0 auto;
}

.contact,
.credit {
    width: 100%;
    margin: 40px 0px;
}

.contactInfo,
.creditCard,
.pay {
    margin: 0 auto;
    width: 990px;
}

.contactInfo h2,
.creditCard h2 {
    font-size: 19px;
    font-weight: 700;
    color: #666666;
    /* margin-bottom: 20px; */
}

.contactInfo h3 {
    font-weight: 700;
    color: #666666;
    margin-bottom: 45px;
}

.contactName,
.contactEmail,
.contactPhone,
.creditName,
.creditEmail,
.creditPassword {
    display: flex;
    margin: 20px 0px 15px;
    align-items: center;
}

.contactName h2,
.contactEmail h2,
.contactPhone h2,
.creditName h2,
.creditEmail h2,
.creditPassword h2 {
    font-size: 16px;
    font-weight: 500;
}

.creditName h3,
.creditEmail h3,
.creditPassword h3 {
    margin-left: 10px;
}

.contactName input,
.contactEmail input,
.contactPhone input,
.tpfield {
    width: 200px;
    height: 38px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px #E8E8E8;
    font-weight: 500;
    align-items: center;
    font-size: 16px;
}



/* --------------------------------- */


.order {
    width: 100%;
    margin: 40px 0px 62px;
}

.pay {
    text-align: right;
}

.pay h2 {
    margin-bottom: 25px;
    font-weight: 700;
}

.button {
    font-family: "Noto Sans TC";
    font-size: 19px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #448899;
    text-align: center;
    width: 173px;
    height: 42px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* -------footer--------- */
.haveBooking {
    display: none;
}

.haventBooking {
    margin-top: 35px;
}

.haventContent {
    margin: 0 auto;
    width: 990px;
    margin-bottom: 40px;
}


.footer,
.footerB {
    background-color: #757575;
}

.footer h3,
.footerB h3 {
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding: 45px;
    box-sizing: border-box;
}

.footerB h3 {
    padding-bottom: 810px;
}

@media (max-width: 1300px) {
    hr {
        max-width: 94%;
    }

    .navbar {
        width: 100%;
    }
}

@media(max-width: 1100px) {

    .replyMsg,
    .container,
    .contactInfo,
    .creditCard,
    .pay,
    .haventContent {
        width: 95%;
    }
}

@media (max-width: 640px) {
    .container {
        grid-template-columns: 1fr;
    }

    .deleteBox {
        bottom: -20px;
        right: 0px;
    }
}