<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/attraction.css">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <div class="navwrap">
            <div class="title">
                <h2 class="taipetTitle">台北一日遊</h2>
            </div>
            <div class="menu">
                <div class="reserve_btn">預定行程</div>
                <div class="signup_btn">登入/註冊</div>
                <div class="logoutBtn">登出系統</div>
            </div>
        </div>
    </div>
    <div id="id01" class="modal">
        <form class="signin-content">
            <div class="signin">
                <div class="colorbar"></div>
                <div class="modal-container">
                    <span class="close" title="Close Modal">&times;</span>
                    <h2>登入會員帳號</h2>
                    <div class="emailPsw">
                        <input class="login_email" type="text" placeholder="輸入電子信箱" required>
                        <input class="login_password" type="password" placeholder="輸入密碼" required>
                    </div>
                    <div class="signinbtn"><button type='button'>登入帳戶</button></div>
                    <div class="clickHere">
                        <!-- <h3 id="messageTextOK" class="ok"></h3> -->
                        <h3 id="messageText" class="notok"></h3>
                        <span>還沒有帳戶？</span>
                        <span class="toSignup">點此註冊</span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="id02" class="modal">
        <form class="signup-content">
            <div class="signup">
                <div class="colorbar"></div>
                <div class="modal-container">
                    <span onclick="document.getElementById('id02').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                    <h2>登入會員帳號</h2>
                    <div class="nameEmailPsw">
                        <input class="signup_name" type="text" placeholder="輸入姓名" required>
                        <input class="signup_email" type="text" placeholder="輸入電子郵件" required>
                        <input class="signup_password" type="password" placeholder="輸入密碼" required>
                    </div>
                    <div class="signupbtn"><button type='button'>註冊新帳戶</button></div>
                    <div class="clickHere">
                        <h3 id="registerTextOK" class="ok"></h3>
                        <h3 id="registerText" class="notok"></h3>
                        <span>已經有帳戶了？</span>
                        <span class="toSignin">點此登入</span>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="main">
        <div class="infoBox">
            <div class="slideshow-container">
                <!-- <div class="slider">
                <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg">
                </div> -->
                <div class="controls">
                    <img class="prev" onclick="plusSlides(-1)" src="/icon/btn_leftArrow.png">
                    <img class="next" onclick="plusSlides(1)" src="/icon/btn_rightArrow.png">
                </div>
                <ul class="dots">
                    <!-- <li class="dot"></li> -->
                </ul>
            </div>


            <div class="info">
                <div class="title">
                    <h3 id="title"></h3>
                    <div class="categoryMRT">
                        <p id="category"></p>
                        <p>&thinsp;at&thinsp;</p>
                        <p id="mrt"></p>
                    </div>
                </div>
                <div class="pay">
                    <h5>訂購導覽行程</h5>
                    <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <h5>選擇日期：<input type="date" class="date"></h5>
                    <div class="radio-group">
                        <h5>選擇時間：</h5>
                        <label class="radioTime">
                            <input type="radio" id="morning" name="time">上半天<span></span>
                        </label>
                        <label class="radioTime">
                            <input type="radio" id="afternoon" name="time">下半天<span></span>
                        </label>
                    </div>
                    <div class="money">
                        <h5>導覽費用：</h5>
                        <p id="result"></p>
                    </div>
                    <button class="button">開始預約行程</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="content">
        <div class="introduction">
            <p id="description"></p>
            <h5>景點地址：</h5>
            <p id="address"></p>
            <h5>交通方式：</h5>
            <p id="transport"></p>
        </div>
    </div>
    <div class="footer">
        <h3>COPYRIGHT © 2021 台北一日遊</h3>
    </div>

    <script src="/js/attraction.js"></script>
    <script src="/js/user.js"></script>
    <!-- <script src="/js/booking.js"></script> -->
</body>

</html>