<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <div class="navwrap">
            <div class="title">
                <h2 class="taipetTitle">台北一日遊</h2>
            </div>
            <div class="menu">
                <div class="reserve_btn">預定行程</div>
                <div class="signup_btn">登入/註冊</div>
                <div class="logoutBtn">登出系統</div>
            </div>
        </div>
    </div>
    <div id="id01" class="modal">
        <form class="signin-content">
            <div class="signin">
                <div class="colorbar"></div>
                <div class="modal-container">
                    <span class="close" title="Close Modal">&times;</span>
                    <h2>登入會員帳號</h2>
                    <div class="emailPsw">
                        <input class="login_email" type="text" placeholder="輸入電子信箱" required />
                        <input class="login_password" type="password" placeholder="輸入密碼" required />
                    </div>
                    <div class="signinbtn"><button type='button'>登入帳戶</button></div>
                    <div class="clickHere">
                        <!-- <h3 id="messageTextOK" class="ok"></h3> -->
                        <h3 id="messageText" class="notok"></h3>
                        <span>還沒有帳戶？</span>
                        <span class="toSignup">點此註冊</span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="id02" class="modal">
        <form class="signup-content">
            <div class="signup">
                <div class="colorbar"></div>
                <div class="modal-container">
                    <span onclick="document.getElementById('id02').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                    <h2>登入會員帳號</h2>
                    <div class="nameEmailPsw">
                        <input class="signup_name" type="text" placeholder="輸入姓名" required />
                        <input class="signup_email" type="text" placeholder="輸入電子郵件" required />
                        <input class="signup_password" type="password" placeholder="輸入密碼" required />
                    </div>
                    <div class="signupbtn"><button type='button'>註冊新帳戶</button></div>
                    <div class="clickHere">
                        <h3 id="registerTextOK" class="ok"></h3>
                        <h3 id="registerText" class="notok"></h3>
                        <span>已經有帳戶了？</span>
                        <span class="toSignin">點此登入</span>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <div class="container_bg">
        <div class="container">
            <div class="background">
                <h2>輕鬆享受台北一日悠閒</h2>
                <h3>探索每個角落，體驗城市的深度旅遊行程</h3>

                <div class="search">
                    <input type="text" class="search-bar" id="search-bar" placeholder="輸入景點名稱查詢">
                    <button class="search_btn"><img src="/icon/icon_search.png" /></button>
                    <div class="dropdown-content">
                        <ul>
                            <!-- <li class="options"></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content-container">
        <div class="content">

        </div>
    </div>


    <div class="footer">
        <h3>COPYRIGHT © 2021 台北一日遊</h3>
    </div>


    <script src="/js/index.js"></script>
    <script src="/js/user.js"></script>
</body>


</html>