{% extends "navbar.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" href="/css/index.css">
    {% endblock css %}

</head>

<body>

    {% block html %}
    <div class="container_bg">
        <div class="container">
            <div class="background">
                <h2>輕鬆享受台北一日悠閒</h2>
                <h3>探索每個角落，體驗城市的深度旅遊行程</h3>

                <div class="search">
                    <input type="text" class="search-bar" id="search-bar" placeholder="輸入景點名稱查詢">
                    <button class="search_btn"><img src="/icon/icon_search.png" /></button>
                    <div class="dropdown-content">
                        <ul>
                            <!-- <li class="options"></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content-container">
        <div class="content">
        </div>
    </div>
    <div class="footer">
        <h3>COPYRIGHT © 2021 台北一日遊</h3>
    </div>
    {% endblock html %}

    {% block js %}
    <script src="/js/index.js"></script>
    {% endblock js %}

</body>


</html>