<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <div class="navwrap">
            <div class="title">
                <h2>台北一日遊</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">預定行程</a></li>
                    <li><a href="#">登入/註冊</a></li>
                </ul>
            </div>
        </div>
    </div>




    <div class="container_bg">
        <div class="container">
            <div class="background">
                <h2>輕鬆享受台北一日悠閒</h2>
                <h3>探索每個角落，體驗城市的深度旅遊行程</h3>

                <div class="search">
                    <input type="text" class="search-bar" id="search-bar" placeholder="輸入景點名稱查詢">
                    <button class="search_btn"><img src="/icon/icon_search.png" /></button>
                    <div class="dropdown-content">
                        <ul>
                            <!-- <li class="options"></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content-container">
        <div class="content">

        </div>
    </div>


    <div class="footer">
        <h3>COPYRIGHT © 2021 台北一日遊</h3>
    </div>


    <script src="/js/index.js"></script>
</body>


</html>